:root {
    --clr: #ffffff;
    --drk: #323232;
}

.sidebar {
    background: #368666;
    transition: 0.5s;
    padding-left: 10px;
}

.sidebar.active {
    width: 80px;
}

.sidebar ul {
    position: relative;
}

.sidebar ul li {
    position: relative;
    list-style: none;

}

.sidebar ul li.active {
    background: var(--clr);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
}

.sidebar ul li.active::before {
    content: "";
    position: absolute;
    top: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-bottom-right-radius: 20px;
    box-shadow: 5px 5px 0 5px var(--clr);
    background: transparent;
}

.sidebar ul li.active::after {
    content: "";
    position: absolute;
    bottom: -20px;
    right: 0;
    width: 20px;
    height: 20px;
    border-top-right-radius: 20px;
    box-shadow: 5px -5px 0 5px var(--clr);
    background: transparent;
}

.sidebar ul li.logo .icon {
    margin-bottom: 20px;
}

.sidebar ul li.logo .text {
    color: var(--clr);
}

.sidebar ul li a {
    position: relative;
    display: flex;
    white-space: nowrap;
    text-decoration: none;

}

.sidebar ul li a .icon {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 60px;
    padding-left: 10px;
    height: 70px;
    font-size: 1.5em;

}

.sidebar ul li a .text {
    position: relative;
    height: 70px;
    display: flex;
    align-items: center;
    padding-left: 5px;

}

.sidebar ul li.active a .icon {
    color: #fff;
}

.sidebar ul li.active a .icon::before {
    content: "";
    position: absolute;
    inset: 5px;
    width: 60px;
    background: var(--bg);
    border-radius: 50%;

}